<h3>Avg Vote Count / Day of Week</h3>
<span id="chart1" class="ct-chart img-responsive"></span>


<script type="text/javascript">
  getChartData('daysofweek', function (data) {
    var series = [];

    data.data.forEach(function (item) {
      series.push(Math.round(item.avg));
    });

    new Chartist.Line('#chart1', {
      labels: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
      series: [series]
    }, {
      axisX: {
        labelOffset: {
          x: '-20px',
          y: '30px'
        }
      }
    });
  });

  console.log('days of week chart');
</script>
