<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h2 class="sub-header">Hourly Data</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Avg No. of Votes</th>
          <th>Hour of the Day</th>
        </tr>
      </thead>
      <tbody>
      	{{#each data.hourofday }}
					<tr>
						<td>{{@index}}</td>
						<td>{{this.avg}}</td>
						<td>{{this.hourofday}}</td>
					</tr>
				{{/each}}
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
	console.log('hour of day');
</script>