<h3>Avg Vote Count / Month</h3>
<span id="monthsofyear" class="ct-chart img-responsive"></span>

<script type="text/javascript">
  getChartData('month', function (data) {
    var series = [];

    data.data.forEach(function (item) {
      series.push(Math.round(item.avg));
    });

    new Chartist.Line('#monthsofyear', {
      labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sept', 'Oct', 'Nov', 'Dec'],
      series: [series]
    }, {
      axisX: {
        labelOffset: {
          x: '-20px',
          y: '30px'
        }
      }
    });
  });

  console.log('months of year chart');
</script>
