<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h2 class="sub-header">Top 100 Voters</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>User</th>
          <th>No. of votes cast</th>
        </tr>
      </thead>
      <tbody>
      	{{#each data.topvoters }}
          <tr>
						<td><img class="img-circle" width="40" src="{{this.image}}" alt="{{this.username}}" /></td>
						<td>{{this.user_username}}</td>
						<td>{{this.count}}</td>
					</tr>
				{{/each}}
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
	console.log('top voters');
</script>